<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top" th:fragment="header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}"><span th:utext="#{invoice}"></span></a>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li><a href="#">|</a></li>
						<li><a href="#" th:href="@{/invoices}"><span th:utext="#{invoices}"></span></a></li>
						<li><a href="#">|</a></li>
						<li><a href="#" th:href="@{/clients}"><span th:utext="#{clients}"></span></a></li>
						<li><a href="#" th:href="@{/services}"><span th:utext="#{services}"></span></a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="?lang=sr"><img th:src="@{/img/icon_sr.png}" height="20px" /></a></li>
						<li><a href="?lang=de"><img th:src="@{/img/icon_de.png}" height="20px" /></a></li>
						<li><a href="?lang=en"><img th:src="@{/img/icon_en.png}" height="20px" /></a></li>
						<li th:if="${#httpServletRequest.userPrincipal != null}">
							<a href="#"><span th:text="${#httpServletRequest.remoteUser}"></span></a>
						</li>
						<li th:if="${#httpServletRequest.remoteUser != null}">
							<a href="/login?logout" th:href="@{/logout}">Logout</a>
						</li>
<!-- 
						<li><a>
								<span th:text="#{loggedIn}">Prijavljen:</span>
								<span th:text="${session.fullName}"></span>
							</a>
						</li>
						<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
 -->
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>