<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				
				<div class="row">
					<div class="col-lg-12">
						 <div class="page-header">
							<h1 id="client"><span th:utext="#{client}"></span></h1>
						</div>
					</div>
				</div>
				
				<form class="form-horizontal" th:action="@{/client-add}" th:object="${clientAddForm}" method="post">
					<fieldset>
						<legend><span th:utext="#{client.add}"></span></legend>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputName" class="col-lg-6 control-label"><span th:utext="#{client.name}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputName" type="text" th:field="*{name}" th:placeholder="${#strings.isEmpty(name)} ? #{client.name} : ${name}" />
									<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Incorrect client name.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputZipCode" class="col-lg-6 control-label"><span th:utext="#{client.zipCode}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputZipCode" type="text" th:field="*{zipCode}" th:placeholder="${#strings.isEmpty(zipCode)} ? #{client.zipCode} : ${zipCode}" />
									<p th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" style="color:red;">Incorrect client Zip Code.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputCity" class="col-lg-6 control-label"><span th:utext="#{client.city}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputCity" type="text" th:field="*{city}" th:placeholder="${#strings.isEmpty(city)} ? #{client.city} : ${city}" />
									<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color:red;">Incorrect client city.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputStreet" class="col-lg-6 control-label"><span th:utext="#{client.street}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputStreet" type="text" th:field="*{street}" th:placeholder="${#strings.isEmpty(street)} ? #{client.street} : ${street}" />
									<p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" style="color:red;">Incorrect client street.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputHouseNumber" class="col-lg-6 control-label"><span th:utext="#{client.houseNumber}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputHouseNumber" type="text" th:field="*{houseNumber}" th:placeholder="${#strings.isEmpty(houseNumber)} ? #{client.houseNumber} : ${houseNumber}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputEmail" class="col-lg-6 control-label"><span th:utext="#{client.email}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputEmail" type="text" th:field="*{email}" th:placeholder="${#strings.isEmpty(email)} ? #{client.email} : ${email}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputPhone" class="col-lg-6 control-label"><span th:utext="#{client.phone}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputPhone" type="text" th:field="*{phone}" th:placeholder="${#strings.isEmpty(phone)} ? #{client.phone} : ${phone}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputBankAccount" class="col-lg-6 control-label"><span th:utext="#{client.bankAccount}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputBankAccount" type="text" th:field="*{bankAccount}" th:placeholder="${#strings.isEmpty(bankAccount)} ? #{client.bankAccount} : ${bankAccount}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputBankName" class="col-lg-6 control-label"><span th:utext="#{client.bankName}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputBankName" type="text" th:field="*{bankName}" th:placeholder="${#strings.isEmpty(bankName)} ? #{client.bankName} : ${bankName}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputTaxNumber" class="col-lg-6 control-label"><span th:utext="#{client.taxNumber}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputTaxNumber" type="text" th:field="*{taxNumber}" th:placeholder="${#strings.isEmpty(taxNumber)} ? #{client.taxNumber} : ${taxNumber}" />
								</div>
							</div>
						</div>
						<div class="col-lg-offset-6 col-lg-6" style="clear: both;">
							<div class="form-group text-right" style="margin-right: 0px !important;">
								<input class="form-control" id="inputId" type="hidden" th:attr="name='id'" th:value="${id eq null ? null : id}"  />
								<input class="form-control" id="modifiedBy" type="hidden" th:attr="name='modifiedBy'" th:value="${#httpServletRequest.remoteUser}"  />
								
								<a th:href="@{/clients}" class="btn btn-default" style="width:112.5px; margin-right:26px; color:#222222; background-color:#ffffff; border-color:#222222;"><span th:utext="#{button.back}"></span></a>
								
								<a th:href="@{/client(id=${id})}" class="btn btn-default" style="width: 112.5px; margin-right: 26px;" th:if="${id ne null}"><span th:utext="#{button.clear}"></span></a>
								<input type="submit" value="Update" class="btn btn-success" style="width: 112.5px;" th:if="${id ne null}" />
								
								<a th:href="@{/client-add}" class="btn btn-default" style="width: 112.5px; margin-right: 26px;" th:if="${id eq null}"><span th:utext="#{button.clear}"></span></a>
								<input type="submit" value="Submit" class="btn btn-success" style="width: 112.5px;" th:if="${id eq null}" />
								
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<footer>
				<div th:replace="fragments/footer :: footer"><span th:utext="#{invoice.footer}"></span></div>
			</footer>
		</div>
	</body>
</html>