<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" media="screen" th:href="@{/css/bootstrap-datepicker.min.css}" />
		
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/moment.js}"></script>
		<script type="text/javascript" th:src="@{/js/transition.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/loan-invoice.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				
				<div class="row">
					<div class="col-lg-12">
						 <div class="page-header">
							<div class="col-lg-6"><h1 id="invoices"><span th:utext="#{invoices}"></span></h1></div>
							<div class="col-lg-6 text-right" style="margin-top: 21px;"><a href="#" th:href="@{/invoice-create}"><img th:src="@{/img/icon_add.png}" height="50" /></a></div>
						</div>
					</div>
				</div>
				
				<form class="form-horizontal page-header" th:action="@{/searchInvoices}" th:object="${invoiceSearchForm}" method="post">
					<fieldset>
						<legend><span th:utext="#{invoice.search}"></span></legend>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputClientName" class="col-lg-6 control-label"><span th:utext="#{invoice.client}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputClientName" th:placeholder="#{invoice.client}" type="text" th:field="*{clientName}" />
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="inputInvoiceDateFrom" class="col-lg-6 control-label"><span th:utext="#{invoice.invoiceDate}"></span></label>
								<div class="col-lg-3">
									<input class="date form-control" id="inputInvoiceDateFrom" th:placeholder="#{invoice.from}" type="text" th:field="*{invoiceDateFrom}" />
								</div>
								<div class="col-lg-3">
									<input class="date form-control" th:placeholder="#{invoice.to}" type="text" th:field="*{invoiceDateTo}" />
								</div>
							</div>
						</div>
						<div class="col-lg-offset-9 col-lg-3" style="clear: both;">
							<div class="form-group text-right" style="margin-right: 0px !important;">
								<a th:href="@{/invoices}" class="btn btn-default" style="width: 112.5px; margin-right: 26px;"><span>Clear</span></a>
								<input type="submit" value="Search" class="btn btn-success" style="width: 112.5px;" />
							</div>
						</div>
					</fieldset>
				</form>
				
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th style="text-align:center; width:100px;"><span th:utext="#{invoice.number}"></span></th>
								<th style="text-align:center;"><span th:utext="#{invoice.client}"></span></th>
								<th style="text-align:center;"><span th:utext="#{client.address}"></span></th>
								<th style="text-align:center; width:120px;"><span th:utext="#{invoice.invoiceItems}"></span></th>
								<th style="text-align:center; width:120px;"><span th:utext="#{invoice.invoiceDate}"></span></th>
								<th style="text-align:center; width:60px;"><span th:utext="#{invoice.pdf}"></span></th>
								<th style="text-align:center; width:60px;"><span th:utext="#{invoice.xml}"></span></th>
								<th style="text-align:center; width:60px;">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="invoice,status : ${invoices}" th:class="${status.odd} ? 'odd'">
							<td th:text="${invoice.number}" style="text-align:center;"><span th:utext="#{invoice.number}"></span></td>
								<td th:text="${invoice.client.name}" style="text-align:center;"><span th:utext="#{invoice.client}"></span></td>
								<td th:text="${invoice.client.zipCode + ' ' + invoice.client.city + ', ' + invoice.client.street + ' ' + invoice.client.houseNumber}" style="text-align:center;"><span th:utext="#{client.address}"></span></td>
								<td th:text="${invoice.invoiceItems.size()}" style="text-align:center;"><span th:utext="#{invoice.invoiceItems}"></span></td>
								<td th:text="${invoice.invoiceDate}" style="text-align:center;"><span th:utext="#{invoice.invoiceDate}"></span></td>
								<td style="text-align:center;"><a href="#" th:href="@{/invoice-pdf(id=${invoice.id})}"><img th:src="@{/img/icon_document.png}" height="25" /></a></td>
								<td style="text-align:center;"><a href="#" th:href="@{/invoice-xml(id=${invoice.id})}"><img th:src="@{/img/icon_xml.png}" height="25" /></a></td>
<!-- 										
								<td th:text="${loanCalculation.status eq 0 ? 'Unsent' : loanCalculation.status == -1 ? 'Prepared' : loanCalculation.status == 1 ? 'Sent' : 'Error'}" style="text-align:center; font-weight: bold;" th:styleappend="${loanCalculation.status eq -2 ? 'color: red;' : loanCalculation.status eq 1 ? 'color: green;' : loanCalculation.status eq -1 ? 'color: grey;' : 'color: black;'}">Status</td>
 -->
 <!-- 
								<td style="text-align:center;">
									<a href="#" th:href="@{/loanCalculation/pdf(id=${loanCalculation.id})}"><img th:src="@{/img/icon_document.png}" height="25" /></a>
								</td>
 -->
								<td style="text-align:center;">
									<a href="invoice.html"
										th:href="@{/invoice(id=${invoice.id})}"><img th:src="@{/img/icon_detail.png}" height="25" /></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
							
				<div class="text-center" th:if="${page != null}">
					<ul class="pagination pagination-sm">
						<li th:classappend="${page eq 0} ? disabled"><a href="#" th:href="@{/invoices(page=1)}">&laquo;</a></li>
						<th:block th:each="i, status : ${#numbers.sequence(1,totalPages == 0 ? 1 : totalPages)}">
							<li th:classappend="${page+1 eq i} ? active"><a href="#" th:text="${i}" th:href="@{/invoices(page=${i})}"></a></li>
						</th:block>
						<li th:classappend="${(page+1 eq totalPages) or (totalPages eq 0)} ? disabled"><a href="#" th:href="@{/invoices(page=${totalPages})}">&raquo;</a></li>
					</ul>
				</div>
			</div>
			<footer>
				<div th:replace="fragments/footer :: footer"><span th:utext="#{invoice.footer}"></span></div>
			</footer>
		</div>

		<script type="text/javascript">
			$(function() {
				$(".date").datepicker({format: "dd-M-yy"});
			});
		</script>
</body>
</html>