<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				
				<div class="row">
					<div class="col-lg-12">
						 <div class="page-header">
							<h1 id="service"><span th:utext="#{service}"></span></h1>
						</div>
					</div>
				</div>
				
				<form class="form-horizontal" th:action="@{/service-add}" th:object="${serviceAddForm}" method="post">
					<fieldset>
						<legend>
							<span th:utext="#{service.add}"></span>
							<a href="#" data-toggle="modal" data-target="#serviceRemove" th:attr="data-id=${id}" class="btn btn-danger" style="width:80px; float:right; height:33px; padding-top:5px;" th:if="${id ne null}"><span th:utext="#{button.remove}"></span></a>
						</legend>
						<div class="col-lg-12">
							<div class="form-group">
								<label for="inputName" class="col-lg-3 control-label"><span th:utext="#{service.name}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputName" type="text" th:field="*{name}" th:placeholder="${#strings.isEmpty(name)} ? #{service.name} : ${name}" />
									<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;">Incorrect service name.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label for="inputPrice" class="col-lg-3 control-label"><span th:utext="#{service.price}"></span></label>
								<div class="col-lg-6">
									<input class="form-control" id="inputPrice" type="text" th:field="*{price}" th:placeholder="${#strings.isEmpty(price)} ? #{service.price} : ${price}" />
									<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red;">Incorrect service price.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<label for="inputMeasurement" class="col-lg-3 control-label"><span th:utext="#{service.measurement}"></span></label>
								<div class="col-lg-6">
									<select class="form-control" id="measurement" th:field="*{measurementId}">
										<option selected="selected" value="" th:label="#{measurement.choose}">Choose measurement</option>
										<option th:each="measurementItem : ${measurements}" th:value="${measurementItem.id}" th:text="${measurementItem.name}">Measurement</option>
									</select>
									<p th:if="${#fields.hasErrors('measurementId')}" th:errors="*{measurementId}" style="color:red;">Incorrect service measurement.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-offset-6 col-lg-6" style="clear: both;">
							<div class="form-group text-right" style="margin-right: 0px !important;">
								<input class="form-control" id="inputId" type="hidden" th:attr="name='id'" th:value="${id eq null ? null : id}" />
								<input class="form-control" id="modifiedBy" type="hidden" th:attr="name='modifiedBy'" th:value="${#httpServletRequest.remoteUser}" />
								
								<a th:href="@{/services}" class="btn btn-default" style="width:112.5px; margin-right:26px; color:#222222; background-color:#ffffff; border-color:#222222;"><span th:utext="#{button.back}"></span></a>
								
								<a th:href="@{/service-add}" class="btn btn-default" style="width:112.5px; margin-right:10px;" th:if="${id eq null}"><span th:utext="#{button.clear}"></span></a>
								<input type="submit" th:value="#{button.create}" class="btn btn-success" style="width:112.5px;" th:if="${id eq null}" />
								
								<a th:href="@{/service(id=${id})}" class="btn btn-default" style="width:112.5px; margin-right:10px;" th:if="${id ne null}"><span th:utext="#{button.clear}"></span></a>
								<input type="submit" th:value="#{button.update}" class="btn btn-success" style="width:112.5px;" th:if="${id ne null}" />
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<footer>
				<div th:replace="fragments/footer :: footer"><span th:utext="#{invoice.footer}"></span></div>
			</footer>
		</div>
	
		<form th:action="@{/service-remove}" method="get">
			<div class="modal fade" id="serviceRemove" tabindex="-1" role="dialog" aria-labelledby="serviceRemoveLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<span style="font-size: x-large; font-weight: 500;" th:utext="#{service.remove}"></span>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<span th:utext="#{service.remove.message}"></span>
								<input id="service-id" type="hidden" class="form-control" th:attr="name='id'" />
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 112.5px;">
								<span th:utext="#{button.cancel}"></span>
							</button>
							<button type="submit" class="btn btn-primary" style="width: 112.5px;">
								<span th:utext="#{button.ok}"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	
		<script type="text/javascript">
			$('#serviceRemove').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget) // Button that triggered the modal
				var id = button.data("id")
				//var recipient = button.data('whatever') // Extract info from data-* attributes
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				var modal = $(this)
				modal.find('.modal-body #service-id').val(id)
			})
		</script>
	</body>
</html>